.hello{
    color:darkblue;
    font-family: algerian;
    font-size: 60px;
    text-align: center;
    margin-top: 300px;
   
}
.helloe{
    color:darkblue;
    font-family: algerian;
    font-size: 60px;
    text-align: center;
    margin-top: 300px;
    
}
body{
    background-color: lightblue;
}